.page404-container{
    background-color: rgba(192, 24, 24, 0.664);
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    padding: 2rem;
    z-index: -1;
}
.label404{
    color: white;
}